.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: hidden;
  }
  
  .navbar p {
    float: center;
    display: hidden;
    color: grey;
    text-align: center;
    font-size: 80%;
  }
  
  body {
    font-family: futura;
  }
  
  #main {
    position: relative;
    top: 180px;
    font-size: 20px;
    text-align: center;
    z-index: 2;
}

.loc {
    position: inherit;
    color: rgb(161, 149, 149);
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

.loc:hover {
    -webkit-text-stroke: 0px transparent;
    color:rgb(248, 250, 135);
    filter: blur(0px)
}

.loc-img {
    display: none;
    text-align: left;
    margin-left: 30%;
    margin-top: 0px;
    position: absolute;
    top: 0px;
    margin-bottom: 0px;
    width: 100px;
    z-index: 999;
}

.loc-img img {
    width: 100px;
}

.loc.clicked:hover + div {
    display: none;
}

.loc:hover + div {
    display: block;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: none;
    width: 100%;
    z-index: 800;
}

.block {
    position: relative;
}

.im {
    display: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 680px;
}

.im img{
    height: 640px;
}

.im::-webkit-scrollbar {
    height: 2px;
}


#loc-im2 img {
    height: 66px;
    width: 44px;
}